USE [AdventureWorks2022]
GO

/****** Object:  View [HumanResources].[vEmployee]    Script Date: 08.07.2025 07:50:21 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [HumanResources].[vEmployee]
AS
    SELECT
        e.[BusinessEntityID]
    , p.[Title]
    , p.[FirstName]
    , p.[MiddleName]
    , p.[LastName]
    , p.[Suffix]
    , e.[JobTitle]  
    , pp.[PhoneNumber]
    , pnt.[Name] AS [PhoneNumberType]
    , ea.[EmailAddress]
    , p.[EmailPromotion]
    , a.[AddressLine1]
    , a.[AddressLine2]
    , a.[City]
    , a.[PostalCode]
    , cr.[Name] AS [CountryRegionName] 
    , p.[AdditionalContactInfo]
    FROM [HumanResources].[Employee] e
        INNER JOIN [Person].[Person] p
        ON p.[BusinessEntityID] = e.[BusinessEntityID]
        INNER JOIN [Person].[BusinessEntityAddress] bea
        ON bea.[BusinessEntityID] = e.[BusinessEntityID]
        INNER JOIN [Person].[Address] a
        ON a.[AddressID] = bea.[AddressID]
        INNER JOIN [Person].[StateProvince] sp
        ON sp.[StateProvinceID] = a.[StateProvinceID]
        INNER JOIN [Person].[CountryRegion] cr
        ON cr.[CountryRegionCode] = sp.[CountryRegionCode]
        LEFT OUTER JOIN [Person].[PersonPhone] pp
        ON pp.BusinessEntityID = p.[BusinessEntityID]
        LEFT OUTER JOIN [Person].[PhoneNumberType] pnt
        ON pp.[PhoneNumberTypeID] = pnt.[PhoneNumberTypeID]
        LEFT OUTER JOIN [Person].[EmailAddress] ea
        ON p.[BusinessEntityID] = ea.[BusinessEntityID];
GO